/*************************************************************************************************
/* this file is used for red #91600B color preset
*/

/**       1- General                                                   **/
::selection {
	/*background: #91600B;*/ /* Safari */
}
::-moz-selection {
	/*background: #91600B;*/ /* Firefox */
}
a {
    color: #91600B;
}
/*******************************************************************/
/********************* Global Elements Css Starts ******************/
/* to highlight text */
.highlight{
	color: #91600B;
}
/* .folio-link-url */
	.folio-link-url:hover{
		color: #91600B;
	}
	.folio-link-url i{
		color: #91600B;
	}
	
/* Button CSS starts */
.button, a.button{
	background-color: #91600B;
	border: 1px solid #91600B;
}
	.button:hover, a.button:hover{
		color: #91600B;
	}

input[type="submit"]{
	background-color: #91600B;
	border: 1px solid #91600B;
}
	input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus{
		color: #91600B;
	}
	/* .toggle_section_button */
	.circle_button:active, .circle_button:focus{
		color: #91600B;
	}
	.circle_button:hover, .circle_button:hover i{
		color: #91600B;
	}
	
	/* .toggle_section_button */
/* Button CSS ends */

/* Form Elements CSS starts */

/********************* Global Elements Css ends ******************/
/*******************************************************************/

/**       2- Folio Zee Curve Shape                                     **/
/* Curve starts */
	.zee_curve_container .zee_curve_left:before{
		border-left: 610px solid #91600B;
	}
	.zee_curve_container .zee_curve_right:before{
		border-right: 610px solid #91600B;
	}

/*********************//*********************//*********************/
	/* .zee_curve_container blockquote starts */
	blockquote.home_quote strong{
		color: #ffffff;
        font-size:28px;
	}
	/* .zee_curve_container blockquote ends */
	
	/**		2.1- Curve Video		**/
	/* .video_holder starts */
		/* .video_holder .play-button starts */
			.video_holder .play-button:before{
				color: #ffffff;
			}
		/* .video_holder .play-button ends */
		
	/* .video_holder ends */
	
	/**		2.2- Curve Testimonial slider		**/
	/* .testi_holder starts */
	/**		2.3- Statistics		**/
	/* .stats_single starts */
			.stats_single:hover .stats_icon{
				background-color: #91600B;
			}
		
		.stats_single .stats_icon i{
			color: #91600B;
		}
	/* .stats_single ends */
	
/**       3- Navigation Primary (Sticky Navigation)                   **/
/* menu-bar starts */
	.menu-bar .main-nav .back_top a{
		color: #91600B;
	}
	.menu-bar .main-nav li > a:hover,
	.menu-bar .main-nav ul li:hover > a, .menu-bar .main-nav ul li.current a {
		color: #91600B;
	}
	.menu-bar .main-nav  ul > li > ul {
		border-top: 1px solid #91600B;
	}
	/* menu-bar Dropdown Ends */
	
/* menu-bar ends */

/**			4.3- Header Navigation (Slidebar) 3			**/
/* .folio-slidebar starts */
	.sb-slidebar .main-nav li > a:hover, .sb-slidebar .main-nav ul li.current a {
		border-left-color: #91600B;
		color: #91600B;
	}
/* .folio-slidebar ends */

/**		7- About Section		**/
.about_single i{
	color: #91600B;
}

/**		8- Feature Portfolio Section		**/
/* portfolio_listing starts */
	.portfolio_listing .single_portfolio:hover:after, .portfolio_listing .single_portfolio.active:after{
		background: #91600B;
	}
/* portfolio_listing ends */

/**		9- Services Section		**/
/* .service_single starts */
		.service_single:hover .icon_holder .icon_shape{
			background-color: #91600B;
		}
		.service_single .icon_holder .icon_shape{
			border: 1px solid #91600B;
		}
			.service_single .icon_holder .icon_shape i{
				color: #91600B;
			}
/* .service_single ends */
	
/**		11- Portfolio Section		**/
/* work_nav starts */
	.work_nav ul li a:hover, .work_nav ul li.current a{
		color: #91600B;
	}
/* work_nav ends */

/* work_listing starts */
	.view-second .mask {
		background-color: rgba(255,49,49, 0.92);
	}
/* work_listing ends */

/**		12- Team Slider Section		**/
/* team_slider starts */
		/* .team_stats starts */
		.team_slider .team_stats .stats_bar{
			background: #91600B;
		}
		.team_slider .team_stats .stats_bar:after{
			border-top: 4px solid #91600B;
		}
		/* .team_stats ends */
		
		/* team_social starts */
			.team_social > li a:hover{
				color: #91600B;
			}
		/* team_social ends */
/* team_slider ends */
	
/**		14- Home Blog Section		**/
/* .hm_blog_post starts */
			.post .featured_image.video_post .play-button:before{
				color: #91600B;
			}
			.post .post_content .date_holder .date{
				background-color: #91600B;
			}
				.post .post_content .meta_holder .title_holder .post_title a:hover{
					color: #91600B;
				}
			.post .post_content .meta_holder .post_meta a{
				color: #91600B;
			}
/* .hm_blog_post ends */

/**		15- Contact Section		**/
	.contact_info .fa{
		color: #91600B;
	}

/**		16- Footer Section (map included)		**/
/* Footer Starts*/
/* .google_map starts */
.map_mask{
	background-color: #91600B;
}
/* .google_map ends */

footer{
	background: #91600B;
}
/* Footer Ends*/

/**      17- Content area inner Pages    							  **/
/* content_bar Styling Starts*/ /* Content_bar styling includes for both blog and inner pages */
	.content_bar h1 span, .content_bar .h1 span, .content_bar h1 a span, .content_bar .h1 a span,
	.content_bar h2 span, .content_bar .h2 span, .content_bar h2 a span, .content_bar .h2 a span,
	.content_bar h3 span, .content_bar .h3 span, .content_bar h3 a span, .content_bar .h3 a span,
	.content_bar h4 span, .content_bar .h4 span, .content_bar h4 a span, .content_bar .h4 a span,
	.content_bar h5 span, .content_bar .h5 span, .content_bar h5 a span, .content_bar .h5 a span,
	.content_bar h6 span, .content_bar .h6 span, .content_bar h6 a span, .content_bar .h6 a span{
		color: #91600B;
	}
.content_bar h1 a:hover, .content_bar h2 a:hover, .content_bar h3 a:hover, .content_bar h4 a:hover, .content_bar h5 a:hover, .content_bar h6 a:hover{
	color: #91600B;
}
	.content_bar p a{
		color: #91600B;
	}
	.content_bar ul li:before{
		color: #91600B;
	}
/* content_bar Styling Ends*/

/**		18- Internal Section (includes headings group on top)		**/
/* .internal_header Starts */
		.internal_header .hgroup h2 span{
			color: #91600B;
		}
/* .internal_header Ends */

/**		19- Inner Blog		**/
/* .blog_post Starts */
			.blog_listing .meta_holder .comments i{
				color: #91600B;
			}
			.blog_listing .meta_holder .comments a:hover{
				color: #91600B;
			}
	
	/* video js starts */
	.blog_listing .post .featured_image .vjs-default-skin div.vjs-big-play-button span:before{
		color: #91600B;
	}
	/* video js ends */
	
	/* social_media starts */
		.social_media > ul > li a:hover{
			color: #91600B;
		}
	/* social_media starts */
/* .blog_post Ends */

/* pagination start */ 
	 /*.wp-pagenavi & wp_corenavi starts*/
	.wp-pagenavi span.current, .folio_navigation  .wp_corenavi span.current {
		background: #91600B;
	}
	/*.wp-pagenavi  & wp_corenavi starts*/
	
/* pagination end */
/* .navigation Starts (Single post) */
		/* .navigation (for Project single page) */
		.page_nav a:hover{
			background: #91600B;
		}
/* .navigation Ends (Single post) */

/**		20- Sidebar and Widgets		**/
/* side_bar Starts*/
	/* widget_recent_entries Starts*/
	.widget_recent_entries ul li a:hover {
		color: #91600B;
	}
	.post-date {
		color: #91600B;
	}
	/* widget_recent_entries Ends*/
	
	/* widget_categories Starts*/
	.widget_categories ul li a {
		color: #91600B;
	}
	/* widget_categories Ends*/
	
	/* widget_text Starts*/
	.textwidget strong {
		color: #91600B;
	}
	/* widget_text Ends*/
	
	/* widget tagcloud starts */
	.tagcloud a:hover {
		background: #91600B;
	}
	/* widget tagcloud ends */
	
	/* widget_kraft_slider starts */
				.widget_kraft_slider .bx-wrapper .bx-controls-direction a:hover{
					color: #91600B;
				}
	/* widget_kraft_slider ends */
	
	/* widget_search, widget_kraft_search Starts*/
		#searchsubmit:hover{
			border-color: #91600B;
			background-color: #91600B;
		}
	/* widget_search, widget_kraft_search Ends*/

	/* tweet-list Starts */
	.tweet-list .tweet .icon {
		color: #91600B;
	}
	/* tweet-list Ends */
	
/* sidebar Ends*/			

/**      21- Blog Comments Section                  					  **/
/* comments_section Starts */
 #comments_section h3 i{
    color: #91600B;
 }
		#comments .commentlist a.comment-reply-link:hover{
			color: #91600B;
		}
	#comments .commentlist a.comment-reply-link i{
		color: #91600B;
	}
		#comments_section #commentform .button:hover, #comments_section #commentform .button:active, #comments_section #commentform .button:focus{
			color: #91600B;
		}
/* comments_section Ends */

/**		22- Shortcodes and Styling		**/

/**      22.2- Buttons Styles			                 				  **/
/* .button.button-outline starts */
.button.button-outline, a.button.button-outline{
	color: #91600B;
}
/* .button.button-outline ends */

/**      22.3- Tabs Styles			                 				  **/	
.folio-tabs .folio-nav .ui-tabs-selected a,
.folio-tabs .folio-nav .ui-tabs-active a {
	color: #91600B;
}
/**      22.4- Toggles Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/
.folio-toggle .ui-accordion-header-active, .folio-toggle .ui-state-active{
	background-color: #91600B;
	border-color: #91600B;
}

/**      22.5- Pricing Tables Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/* Folio Pricing Table Styles		
/*-----------------------------------------------------------------------------------*/
.folio_pricing_single.favourite_pricing .price_title{
	background: #91600B;
}

/**      22.6- Quotes Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/*	Quotes Styles
/*-----------------------------------------------------------------------------------*/

	/* quote_styling Starts */
	.content_bar .quote_1{
		border-left: 3px solid #91600B;
	}
	.content_bar .quote_2, .content_bar .quote_3 {
		border-left: 3px solid  #91600B;
	}
	
	/* quote_styling Ends */


/**		23- 404 section		**/
/* .section_404 starts */
			.section_404 .hgroup .heading_left h1:after{
				background: #91600B;
			}
/* .section_404 ends */

/* Responsive slides */
.transparent-btns_tabs .transparent-btns_here a, .transparent-btns_tabs a:hover{
	background: #91600B;
	border: 2px solid #91600B;
}

.centered-btns_here a:before,
.transparent-btns_here a:before,
.large-btns_here a:before {
  color: #91600B;
}