/*******http://responsiveslides.com*/
/*
Licensed under the MIT license.

Copyright (c) 2011-2012 

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

.rslides, .content_bar .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li, .content_bar .rslides li{
  -webkit-backface-visibility: hidden;
  list-style: none;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background-image: none;
  margin: 0;
  }
.rslides li:before, .content_bar .rslides li:before{
	content: "";
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.centered-btns_nav {
  background: url(../images/themes.gif) no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 61px;
    left: 0;
    margin-top: -45px;
    opacity: 0.7;
    position: absolute;
    text-decoration: none;
    top: 50%;
    width: 38px;
    z-index: 3;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
	left: auto;
	background-position: left top;
	right: 0;
}

.transparent-btns_nav {
	right: 135px;
	color: #c4c4c4;
	font-size: 30px;
	margin-top: -45px;
	opacity: 0.7;
	position: absolute;
	text-decoration: none;
	top: 70px;
	z-index: 3;
}

.transparent-btns_nav.next {
	left: auto;
	right: 15px;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}
  .transparent-btns_tabs{
	  position: absolute;
	  right: 17px;
	  top: 14px;
	  z-index: 99;
  }
  ul.transparent-btns_tabs{
	  margin: 0;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li,
.content_bar .centered-btns_tabs li,
.content_bar .transparent-btns_tabs li,
.content_bar .large-btns_tabs li {
	background-image: none;
	display: inline;
	float: none;
	_float: left;
	*float: left;
	padding: 0;
	margin-right: 10px;
}
.content_bar .transparent-btns_tabs li{
	display: inline-block;
	height: 23px;
	margin: 0;
	width: 19px;
}
.transparent-btns_tabs .transparent-btns_here li{
}
.centered-btns_tabs li:before,
.transparent-btns_tabs li:before,
.large-btns_tabs li:before,
.content_bar .centered-btns_tabs li:before,
.content_bar .transparent-btns_tabs li:before,
.content_bar .large-btns_tabs li:before {
	content: "";
}


centered-btns_tabs a:before,
.transparent-btns_tabs a:before,
.large-btns_tabs a:before{
	
	}
	
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  background: rgba(153, 153, 153, 0.8);
  border-radius: 50px;
  	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  transition: all 0.3s ease 0s;
  	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
  position: relative;
  vertical-align: middle;
  margin: 0 6px;
}
.transparent-btns_tabs .transparent-btns_here a, .transparent-btns_tabs a:hover{
	background: #FF3131;
	border: 2px solid #FF3131;
	height: 11px;
	margin: 0 4px;
	width: 11px;
}

.centered-btns_here a:before,
.transparent-btns_here a:before,
.large-btns_here a:before {
  color: #FF3131;
  }
  
.centered-btns_tabs a:hover:before,
.transparent-btns_tabs a:hover:before,
.large-btns_tabs a:hover:before{
	color: #999;
}